body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #F5F4F4;
    overflow: hidden;
}
h2 {
    font-weight: 600;
    margin: 40px 0;
}
h3 {
    font-weight: 400;
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 75px 0 0 0;
}
hr {
    margin-top: 40px;
}
strong {
    font-weight: 600;
}
p {
    line-height: 2rem;
    padding: 10px 0;
}
ol li {
    margin: 20px;
    line-height: 1.5rem;
}
a.internal, a.internal:visited {
    color: red;
}
a:visited {
    color: blue;
}
pre {
    tab-size: 2 !important;
}
body .background-left {
    position: absolute;
    height: 100vh;
    width: 50%;
    z-index: -1;
    background: linear-gradient(to bottom left, #F3A061, #F0775F);
}
.wrapper {
    max-height: 850px;
    max-width: 1400px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    box-shadow: 0 0 30px 5px rgba(46,61,73,0.15);
    transition: all 0.5s ease;
}
.wrapper:hover {
    box-shadow: 0 0 50px 20px rgba(46,61,73,0.15);
}
.sidebar {
    flex: 0 0 250px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(to bottom, #F3A061, #F0775F);
}
.sidebar .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 500px; 
}
.sidebar .items a {
    text-align: center;
    padding: 15px 0;
    color: #E5E5E5;
    text-decoration: none;
    transition: all 0.3s ease;
}
.sidebar .items a:hover {
    color: white;
    transform: scale(1.5);
}
.sidebar .responsive-btn {
    display: none;
}
.content {
    overflow: auto;
    background: #F5F4F4;
}
.content .container {
    padding: 50px 100px;
}
.content .header {
    text-align: right;
}
.content .title {
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 100px;
    color: #F3A061;
}
.content .media {
    padding: 25px 0;
    width: 100%;
    text-align: center;
}
.content .media img {
    max-width: 100%;
    height: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.35);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.content .media img:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  }
/* HIGHLIGHTER */
em {
    font-weight: 600;
    padding: 2px;
}
em.yellow {
    background-color: rgba(255,255,0,0.4);
}
em.blue {
    background-color: rgba(0,127,255,0.2);
}
em.purple {
    background-color: rgba(255,0,255,0.2);
}
em.green {
    background-color: rgba(0,255,0,0.2);
}
em.red {
    background-color: rgba(255,0,0,0.25);
}
em.orange {
    background-color: rgba(235, 132, 1, 0.25);
}

/* BLUE THEME */
body.blue .background-left {
    background: linear-gradient(to top, #02b3e4, #02ccba); 
}
body.blue .sidebar {
    background: linear-gradient(to top, #02b3e4, #02ccba); 
}
body.blue .title {
    color: #02ccba;
}
/* MAGENTA THEME */
body.magenta .background-left {
    background: linear-gradient(to top, #B12668, #E32147); 
}
body.magenta .sidebar {
    background: linear-gradient(to top, #B12668, #E32147); 
}
body.magenta .title {
    color: #E32147;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(179, 176, 176);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
/* RESPONSIVE LAYOUT */
@media screen and (max-width: 1050px) {
    .content .container {
        padding: 50px 30px;
    }
}
@media screen and (max-width: 800px) {
    body .background-left {
        display: none;
    }
    .wrapper {
        max-height: 100%;
        flex-direction: column;
    }
    .sidebar {
        flex: 0 0 60px;
        background: linear-gradient(to left, #F4B261, #F16160);
        box-shadow: 0 7px 10px 0 rgba(46,61,73,0.2);
        z-index: 1;
    }
    .sidebar .items {
        display: none;
    }
    .sidebar .responsive-btn {
        display: block;
    }
}